<div style=" width:30%">
    <div class="plan">
        <div class="card card--secondary">
            <header class="card__header">
    <h3 class="plan__name">Entry</h3>
    <span class="plan__price">$14</span>
    <span class="plan__billing-cycle">/month</span>
    <span class="badge badge--secondary badge--small">10% off</span>
    <span class="plan__descption">Easy start on the cloud</span>
            </header>
            <div class="card__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, nam?
            </div>
        </div>
       
    </div>
   
</div>